body {
  max-width: 100%;
  max-height: 0%;
  background-color:#1F2229;
  font-family: monaco, "Courier New";
  color:#774716;
}

a {
  text-decoration: underline;
  overflow: hidden;
  color: #FFFFFF;
}

p {
  color: #FFFFFF;
  line-height:0.5;
}

div {border: 1.5px solid white;}

@media only screen and (max-width: 414px) {
  a {font-size: 2vw;}
  
  #name {display:inline-block; padding-left: 10%; font-size: 4vw;}
  #descContainer {
    margin-left:10.1%;
    width:79.3%;
  }

  #creds {
    font-size: 6vw;
    text-align: center;
  }

  #parenthesis {
    display: inline-block;
    font-size: 1.8vw;
  }
  
  #desc {
    padding-left: 2vw;
    border-color: #1F2229;
  }

  #categoryDef {
    font-size: 3.2vw;
  }

  #categoryTxt {
    font-size: 2.5vw;
    padding-left: 1.5vw;
    line-height: 4.2vw;
  }
  
  #descSep {
    line-height: 1.5vw;
  }
}

@media only screen and (min-width: 415px) {
  a {font-size: 1vw;}
  
  #name {display: inline-block; padding-left: 20.1%; font-size: 1.7vw;}
  
  #descContainer {
    margin-left:20.1%;
    width:59.6%;
  }
  
  #creds {
    text-align: center;
  }

  #parenthesis {
    display: inline-block;
    font-size: 0.8vw;
  }
  
  #desc {
    margin-left: 2vw;
    border-color: #1F2229;
    width: 59.6%;
  }

  #categoryDef {
    font-size: 1.3vw;
  }

  #categoryTxt {
    font-size: 1.2vw;
    padding-left: 1vw;
  }

  #descSep {
    line-height: 2.3vw;
    inline-size: 150%;
  }
}
