html {
  height: 100%; *
  width: 100%;
  padding: 0; margin: 0;
  cursor: url("img/blockCursor.png"), auto;
}

body {
  max-width: 100%;
  padding: 0; margin: 0;
  max-height: 0%;
  background-color: #1F2229;
  font-family: monaco, "Courier New";
  color: #774716;
  cursor: url("img/blockCursor.png"), auto;
}

a {
  text-decoration: underline;
  overflow: hidden;
  color: #FFFFFF;
  line-height: 2;
}

p {
  color: #FFFFFF;
  line-height:0.5;
}

div {
  border: 1.5px solid white;
  height: 100%; 
  width: 100%;
  padding: 0; margin: 0;
  cursor: url("img/blockCursor.png"), auto;
}

a:hover {
  background: #C6DEFC;
  color: #000000;
  cursor: url("img/blockCursor.png"), auto;
}

ul { list-style-type: none; }

::selection {background: #C6DEFC; color: #000000}

@media only screen and (max-width: 414px) { /* mobile */
  a {font-size: 2vw;}
 
  .header {color: #FFF; text-align: center; font-size: 3vw;}
  .title {color: #FFF; text-align: center; font-size: 1.5vw;}

  .descContainer {
    margin-left:10.1%;
    width:79.3%;
  }

  .desc {
    padding-left: 2vw;
    border-color: #1F2229;
  }

  .categoryDef {
    font-size: 3.2vw;
  }

  .categoryTxt {
    font-size: 2.5vw;
    padding-left: 1.5vw;
    line-height: 4.2vw;
  }
}

@media only screen and (min-width: 415px) { /* DESKTOP */
  a {font-size: 1vw;}
  
  .header {color: #FFF; text-align: center; font-size: 1.7vw;}
  .title {color: #FFF; font-size: 1.3vw;}

  .descContainer {
    margin-left:20.1%;
    width:59.6%;
  }
  
  .desc {
    margin-left: 2vw;
    border-color: #1F2229;
    width: 59.6%;
  }

  .categoryDef {
    font-size: 1.3vw;
  }

  .categoryTxt {
    font-size: 1.2vw;
    padding-left: 1vw;
  }
}
