html {
  overflow-y: hidden;
  overflow-x: hidden;
}

@media only screen and (min-width: 415px) {
  body {
    max-width: 100%;
    max-height: 0%;
    background-color:#1e1e1e;
    color: #FFFFFF;
    font-family: monaco, "Courier New";
    font-size: 1vw;
  }

  div {
    clear: both;
    word-wrap: break-word;
    max-width: 30vw;
    padding: 0.45vw;
    line-height: 0.01vw;
    border-radius: 1vw;
    margin: 3.1vw;
  }

  #send {
    float: right;
    background: #3c87fa;
  }

  #rec {
    float: left;
    background: #3c3c3c;
  }

  #circ {
    float: right;
    height: 1.8vw;
    width: 1.8vw;
    border-radius: 1.8vw;
    background: #3c87fa;
  }

  @keyframes sendMsg {
    from {
      transform: translateY(45vw);
    }


    to {
      transform: translateX(61.85vw);
    }
  }

  .sendCont {
    animation-name: sendMsg;
    animation-duration: 1.25s;
    animation-timing-function: ease;
    animation-delay: 0s;
    transform: translateX(61.85vw);
  }


  /* pavlina text animations */
  @keyframes recMsg {
    from {
      transform: translateX(-25vw);
    }


    to {
      transform: translateX(0);
    }
  }

  .recCont {
    animation-name: recMsg;
    animation-duration: 0.65s;
    animation-timing-function: ease;
    animation-delay: 0s;
  }
}

@media only screen and (max-width: 414px) {
  body {
    max-width: 100%;
    max-height: 0%;
    background-color:#1e1e1e;
    color: #FFFFFF;
    font-family:"monaco", "Courier New";
    font-size: 4.5vw;
  }

  div {
    clear: both;
    word-wrap: break-word;
    max-width: 30vw;
    padding: 0.85vw;
    line-height: 0vw;
    border-radius: 3vw;
    margin: 3.1vw;
    line-height: 0.01vw
  }

  #send {
    float: right;
    background: #3c87fa;
  }

  #rec {
    float: left;
    background: #3c3c3c;
  }

  #circ {
    float: right;
    height: 1.8vw;
    width: 1.8vw;
    border-radius: 1.8vw;
    background: #3c87fa;
  }

  @keyframes sendMsg {
    from {
      transform: translateY(230vw);
    }


    to {
      transform: translateX(61.85vw);
    }
  }

  .sendCont {
    animation-name: sendMsg;
    animation-duration: 1.25s;
    animation-timing-function: ease;
    animation-delay: 0s;
    transform: translateX(61.85vw);
  }


  /* pavlina text animations */
  @keyframes recMsg {
    from {
      transform: translateX(-25vw);
    }


    to {
      transform: translateX(0);
    }
  }

  .recCont {
    animation-name: recMsg;
    animation-duration: 0.65s;
    animation-timing-function: ease;
    animation-delay: 0s;
  }
}
